<div class="panel panel-default" style="text-align: center; background-color: whitesmoke; height: 200px">
  <h1>Welcome to Small Wins!</h1>
  <h3 style="font-style: italic; color: grey;">Add habits, log days, watch your chains grow</h3>
</div>