<h1>Your Current Chain</h1>

<div>
  <%= link_to 'Log Completed Days', new_completed_day_path %>
</div>

<div>
  <table>
    <tr><% @current_chain_dates.each do |date| %>
      <td><%= date %></td>
      <% end %>
    </tr>
  </table>
</div>

<div><p>Your previous longest chain was <%= @previous_longest_chain_length %> days long.</p></div>
