 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= @habit.name %> </h3>
  </div>
  <div class="panel-body">

    <%= render :partial => 'completed_days/form' %>

    <table class="table table-condensed table-striped">
      <tr>
        <th colspan="2">Completed Days</th>
      </tr>
      <%= render partial: "/completed_days/completed_day_to_delete", collection: @completed_days %>
    </table>

    <div>
      <%= link_to 'Delete This Habit', user_habit_path(current_user, @habit),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-default",
                  role: "button" %>
    </div>

  </div>
</div>
