<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">My Chains</h2>
  </div>
  <div class="panel-body">

    <div>
      <%= link_to 'New Habit', new_user_habit_path, class: "btn btn-default", role: "button" %>
    </div>

    <div>
      <%= render partial: "habit", collection: @habits %>
    </div>

  </div>
</div>