<%= javascript_tag do %>

  var habitsRaw = <%= raw @jshabits %>;
  var habits = habitsRaw.map(function(h){
    if (h==null) {
      return null;
    } else {
      var array = [h[0],h[1].map(function(c){
        date = new Date(c);
        return date;
      })];
      return array;
    };
  });

<% end %>


<div>
  <% if !@habits[0].nil? %>
    <%= render partial: "habit", collection: @habits %>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">My Habits</h2>
      </div>
      <div class="panel-body">
        <h4><%= @no_habits_message %></h4>
      </div>
    </div>
  <% end %>
</div>