<%= javascript_tag do %>

  var habitsRaw = <%= raw @jshabits %>;
  var habits = habitsRaw.map(function(h){
    if (h==null) {
      return null;
    } else {
      var array = [h[0],new Date(h[1]),new Date(h[2])];
      return array;
    };
  });

<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">My Habits</h2>
  </div>
  <div class="panel-body">

    <div>
      <% if !@habits[0].nil? %>
        <%= render partial: "habit", collection: @habits %>
      <% else %>
        <h4><%= @no_habits_message %></h4>
      <% end %>
    </div>

  </div>
</div>