<h1>Track a New Habit</h1>

<%= render 'form' %>
 
<%= link_to 'Back to My Habit Chains', user_habits_path, :class => "btn btn-link" %>

<h1>Remove Habits</h1>

<table>
  <tr>
    <th>Habits</th>
  </tr>
 
  <% @habits.each do |habit| %>
    <tr>
      <td><%= habit.name %></td>
      <td><%= link_to 'Delete', user_habit_path(current_user,habit),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
